USE [master]
GO
/****** Object:  Database [QuanLyBanHangNovea]    Script Date: 12/16/2022 2:05:13 PM ******/
CREATE DATABASE [QuanLyBanHangNovea]
GO
USE [QuanLyBanHangNovea]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/16/2022 2:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASP] [varchar](128) NOT NULL,
	[SOLUONG] [int] NULL,
	[TRIGIA] [money] NULL,
	[LuongDa] [varchar](10) NULL,
	[LuongDuong] [varchar](10) NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUAHANG]    Script Date: 12/16/2022 2:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUAHANG](
	[MACH] [varchar](128) NOT NULL,
	[TENCH] [nvarchar](max) NULL,
	[DIADIEM] [nvarchar](max) NULL,
	[DOANHTHU] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUAHANG_BAN_SANPHAM]    Script Date: 12/16/2022 2:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUAHANG_BAN_SANPHAM](
	[MACH] [varchar](128) NOT NULL,
	[MASP] [varchar](128) NOT NULL,
 CONSTRAINT [PK_CH_SP] PRIMARY KEY CLUSTERED 
(
	[MACH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHU]    Script Date: 12/16/2022 2:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU](
	[MACHU] [varchar](128) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [varchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGDK] [smalldatetime] NULL,
	[MATKHAU] [varchar](max) NULL,
	[VAITRO] [bit] NULL,
	[AVATAR] [varchar](max) NULL,
	[MACH] [varchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/16/2022 2:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGMH] [smalldatetime] NULL,
	[TONGTIEN] [money] NULL,
	[MAKH] [varchar](128) NULL,
	[MACH] [varchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH]    Script Date: 12/16/2022 2:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH](
	[MAKH] [varchar](128) NOT NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGSINH] [smalldatetime] NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[SDT] [varchar](15) NULL,
	[EMAIL] [varchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[NGDK] [smalldatetime] NULL,
	[DOANHSO] [money] NULL,
	[MATKHAU] [varchar](max) NULL,
	[VAITRO] [bit] NULL,
	[AVATAR] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/16/2022 2:05:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](128) NOT NULL,
	[TENSP] [nvarchar](max) NULL,
	[THELOAI] [nvarchar](max) NULL,
	[DONVI] [nvarchar](max) NULL,
	[DONGIA] [money] NULL,
	[KICHTHUOC] [varchar](10) NULL,
	[MOTA] [nvarchar](max) NULL,
	[HINHSP] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CUAHANG_BAN_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MACH])
REFERENCES [dbo].[CUAHANG] ([MACH])
GO
ALTER TABLE [dbo].[CUAHANG_BAN_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHU]  WITH CHECK ADD FOREIGN KEY([MACH])
REFERENCES [dbo].[CUAHANG] ([MACH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MACH])
REFERENCES [dbo].[CUAHANG] ([MACH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH] ([MAKH])
GO
USE [master]
GO
